.row-m {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 0.1rem;
    position: relative;
    .flex-box {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        &.center {
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-align-content: center;
            -ms-flex-line-pack: center;
            align-content: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
        }
    }

    //
    .flex-col {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
    }

    //
    .flex-col-2 {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 2 1 auto;
        -ms-flex: 2 1 auto;
        flex: 2 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
    }

    .today-progress-wrapper {
        padding: 1.2rem 0.3rem 0 0.3rem;
        position: relative;
        .flex-col-2 {
            padding: 0 0.1rem;
        }
        .text {
            font-size: 0.4rem;
            b {
                color: red;
            }
        }
    }

    //.start-btn {
    //    display: block;
    //    background: none;
    //    border: 0.1rem solid #979797;
    //    height: 2rem;
    //    line-height: 1.4rem;
    //    position: relative;
    //    left: 50%;
    //    transform: translateX(-50%);
    //    width: 90%;
    //    font-size: 1.4rem;
    //    margin: 1.3rem 0;
    //    a {
    //        display: block;
    //    }
    //}

    .score-total {
        padding: 0.2rem 0.5rem;
        margin-top: 0.3rem;
        .title {
            text-align: center;
            padding: 0.3rem 0;
            margin: 0;
            font-size: 1.2rem;
            .score {
                position: relative;
                .plus-score {
                    top: 50%;
                    height: 0.5rem;
                    margin-top: -0.2rem;
                    font-size: 0.3rem;
                    left: 120%;
                }
            }
        }

        .progress-bar {
            background: url(../../../dist/public/img/stripe_8c315e28.png) repeat;
            height: 1.5rem;
            position: relative;
            margin-top: 1.5rem;
            .progress {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                background: url(../../../dist/public/img/stripe2_ebeacd4a.png) repeat;
            }
        }

        .comment {
            padding-top: 0.2rem;
            font-size: 0.5rem;
            .link a {
                color: #C348E0;
            }
        }

    }

    //
    .final-score-total {
        padding: 0.4rem 0 1rem 0;
        .title {
            text-align: center;
            padding: 0;
            margin: 0;
            font-size: 1rem;
            position: relative;
            .text, .help-btn {
                display: inline-block;
                vertical-align: middle;
            }
            .help-btn {
                border: 0;
                background-color: transparent;
                //margin-left: 10/@REM;
                position: relative;
                .iconfont {
                    font-size: 1rem;
                    width: 1rem;
                    height: 1rem;
                    color: #666;
                }
                .tip.show {
                    display: block;
                    opacity: 1;

                    animation: tipAniam ease-out .4s forwards;
                    -webkit-animation: tipAniam ease-out .4s forwards;
                }
                .tip {
                    font-size: 0.5rem;
                    position: absolute;
                    width: 10rem;
                    border: 1px solid #BABABA;
                    background-color: #D8D8D8;
                    padding: 0.2rem;
                    padding-bottom: 0.6rem;
                    text-align: left;
                    bottom: 100%;
                    left: 50%;
                    transform: translate(-50%, 0);
                    -webkit-transform: translate(-50%, 0);
                    opacity: 0;
                    display: none;
                    &:before, &:after {
                        content: '';
                        position: absolute;
                        top: 100%;
                        left: 50%;
                        border: 0 solid transparent;
                        border-width: 0.15rem 0.15rem 0 0.15rem;
                        transform: translateX(-50%);
                        -webkit-transform: translateX(-50%);
                        border-top-color: #BABABA;
                        z-index: 2;
                    }
                    &:before {
                        border-top-color: #D8D8D8;
                        margin-top: -1px;
                        z-index: 1;
                    }
                }
            }
            .score {
                position: relative;
            }
            .score .plus-score {
                top: 100%;
                margin-top: 0.1rem;
                right: 0;
                font-size: 0.4rem;
            }
        }
    }
    //
    //
    .plus-score {
        position: absolute;
        color: red;
        font-size: 0.3rem;
        opacity: 0;
        &.show {
            animation: plusScoreAnima ease-out .2s 1s forwards;
            -webkit-animation: plusScoreAnima ease-out .2s 1s forwards;
        }
    }

    //progress bar

    .todayLearningTime {
        position: absolute;
        right: 2.3rem;
        top: 0.4rem;
        font-size: 0.4rem;
        color: red;
    }

    .timeProgress {
        height: 0.2rem;
        font-size: 0;
        white-space: nowrap;
        background: #D8D8D8;
        position: relative;

        .cuLearningTime {
            //display: none;
            display: inline-block;
            height: 100%;

            -webkit-transition: width .1s;
            transition: width .1s;
        }
    }

    .scores-chart-wrapper {
        overflow: hidden;
        position: relative;
        box-sizing: content-box;
        padding: 0.8rem;
        margin-top: 1.6rem;

        &:before, &:after {
            content: '';
            position: absolute;
        }
        &:before {
            left: 50%;
            top: 0;
            bottom: 0;
            border-left: 1px solid #666;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }
        &:after {
            left: 0;
            right: 0;
            top: 50%;
            border-top: 1px solid #666;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        .chart-wrapper {
            float: left;
            width: 50%;

            &.left-top, &.left-bottom {
                .title {
                    text-align: left;
                }
                .item i {
                    left: 0;
                    top: 0;
                }
            }
            &.right-top, &.right-bottom {
                .title {
                    text-align: right;
                    .score {
                        padding-right: 5px;
                        padding-left: 0;
                    }
                }
                .item i {
                    left: auto;
                    right: 0;
                    top: 0;
                }

                .title .score .plus-score {
                    left: auto;
                    right: 120%;
                    margin-right: 0.1rem;
                }
            }
            .title {
                padding: 0;
                margin: 0;
                //line-height: 0.6rem;
                font-size: 1rem;
                //font-weight: normal;
                .text, .score {
                    display: inline-block;
                    vertical-align: middle;
                }
                .score {
                    padding-left: 0.1rem;
                    position: relative;
                    .plus-score {
                        top: 50%;
                        height: 0.3rem;
                        margin-top: -0.1rem;
                        font-size: 0.3rem;
                        line-height: 1;
                        left: 100%;
                        margin-left: 0.1rem;
                    }
                }
            }
            .item {
                float: left;
                width: 16.66666666%;
                box-sizing: border-box;
                padding: 0.1rem;
                font-size: 0;
                position: relative;

                b {
                    content: '';
                    display: block;
                    padding-top: 100%;
                    background: #D8D8D8;
                    position: relative;
                }

                i {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 0;
                    height: 100%;
                    background: red;
                    -webkit-transition: width .1s;
                    transition: width .1s;
                }
            }
        }
    }

    @keyframes plusScoreAnima {
        0% {
            opacity: 0;
            transform: scale(4);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    @-webkit-keyframes plusScoreAnima {
        0% {
            opacity: 0;
            -webkit-transform: scale(4);
        }

        100% {
            opacity: 1;
            -webkit-transform: scale(1);
        }
    }

    @keyframes tipAniam {
        0% {
            opacity: 0;
            transform: translate(-50%, 0.1rem);
        }

        100% {
            opacity: 1;
            transform: translate(-50%, 0.2rem);
        }
    }

    @-webkit-keyframes tipAniam {
        0% {
            opacity: 0;
            -webkit-transform: translate(-50%, 0.1rem);
        }

        100% {
            opacity: 1;
            -webkit-transform: translate(-50%, 0.2rem);
        }
    }
}
.scrollable {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}