.videoPlayer {
  width: 100%;
  position: relative;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none; }
  .videoPlayer .canPlay {
    width: 100%;
    display: block; }
  .videoPlayer .cantPlay {
    display: none; }
  .videoPlayer .control {
    position: absolute;
    left: 0px;
    bottom: 7px;
    background: #D8D8D8;
    width: 40px;
    height: 24px; }
    .videoPlayer .control .i {
      width: 50%;
      height: 100%;
      float: left;
      position: relative; }
    .videoPlayer .control .i.play:after {
      display: block;
      content: " ";
      width: 0;
      height: 0;
      margin-top: 2px;
      margin-left: 4px;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 15px solid #000; }
    .videoPlayer .control .i.pause:before {
      position: absolute;
      display: block;
      content: " ";
      width: 4px;
      height: 20px;
      background: #000;
      top: 2px;
      left: 3px; }
    .videoPlayer .control .i.pause:after {
      position: absolute;
      display: block;
      content: " ";
      width: 4px;
      height: 20px;
      background: #000;
      right: 6px;
      top: 2px; }
  .videoPlayer .progress-bar.stop .current-time {
    display: block; }
  .videoPlayer .progress-bar {
    position: absolute;
    bottom: 3px;
    height: 4px;
    width: 0; }
    .videoPlayer .progress-bar .current-time {
      position: absolute;
      display: none;
      height: 22px;
      line-height: 22px;
      width: 44px;
      text-align: center;
      background: #000;
      color: #fff;
      font-size: 16px;
      bottom: 10px;
      right: -22px; }
      .videoPlayer .progress-bar .current-time:after {
        display: block;
        content: " ";
        width: 0;
        height: 0;
        margin-left: 16px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #000; }

/*# sourceMappingURL=VideoPlayer.css.map */
