.videoPlayer {
    width: 100%;
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    .canPlay{
        width: 100%;
        display: block;
    }
    .cantPlay{
        display: none;
    }

    .control {
        position: absolute;
        left: 0px;
        bottom: 7px;
        background: #D8D8D8;
        width: 40px;
        height: 24px;
        .i {
            width: 50%;
            height: 100%;
            float: left;
            position: relative;
        }
        .i.play:after {
            display: block;
            content: " ";
            width: 0;
            height: 0;
            margin-top: 2px;
            margin-left: 4px;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 15px solid #000;
        }
        .i.pause:before {
            position: absolute;
            display: block;
            content: " ";
            width: 4px;
            height: 20px;
            background: #000;
            top: 2px;
            left: 3px;
        }
        .i.pause:after {
            position: absolute;
            display: block;
            content: " ";
            width: 4px;
            height: 20px;
            background: #000;
            right: 6px;
            top: 2px;
        }
    }
    .progress-bar.stop .current-time {
        display: block;
    }
    .progress-bar {
        position: absolute;
        bottom: 3px;
        height: 4px;
        width: 0;
        //background: #E8CFFE;

        .current-time {
            position: absolute;
            display: none;
            height: 22px;
            line-height: 22px;
            width: 44px;
            text-align: center;
            background: #000;
            color: #fff;
            font-size: 16px;
            bottom: 10px;
            right: -22px;
            &:after {
                display: block;
                content: " ";
                width: 0;
                height: 0;
                margin-left: 16px;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid #000;
            }
        }
    }
}
