.userInfo {
  padding-bottom: 2.5rem;
  .userInfo-head {
    padding: 1.8rem 1rem 1.2rem;
    background-color: white;
    .headImg {
      width: 5rem;
      height:5rem;
      border-radius: 50%;
      margin: 0 auto;
      display: block;
    }
    .userInfo-userName {
      text-align: center;
      margin-top: 0.5rem;
    }
    .userInfo-studiedData {
      text-align: center;
      .userInfo-studiedData-total {
        display: inline-block;
        padding: 0.5rem 2rem 0 2rem;
        .curRank,.curCount{
          font-size: 1.5rem;
        }
        .studiedData-label {
          display: block;
          font-size: 0.8rem;
        }
      }
    }
  }

  .userInfo-chart{
    display:block;
    width: 100%;
    margin-top: 0.3rem;
    background-color:white;
  }

}