.upLoadFile {
    position: relative;
    border: 1px dashed rgba(12, 12, 12, 0.6);
    border-radius: 10px;
    margin-right: 3px;
    .uploadForm {
        label {
            font-size: 13px;
            padding: 5px;
        }
        .btn {
            margin-top: 5px;
            margin-left: 5px;
            display: inline-block;
            width: 100px;
            padding: 2px 4px;
            margin-bottom: 0;
            font-size: 13px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            border: 1px solid transparent;
            border-radius: 4px;
            background-color: rgb(74, 144, 220);
            color: white;
            &:hover {
                background-color: rgb(50, 130, 250);
            }
            &:active {
                background-color: rgb(50, 80, 210);
            }
            &:disabled {
                cursor: not-allowed;
                box-shadow: none;
                opacity: .65;
            }
        }
    }
    .videoInfo {
        span{
            font-size: 13px;
        }
        .videoInfo-item{
            margin-right: 30px;
        }
        .upLoad-progress {
            // display: inline-block;
            // width: 50%;
            // height: 20px;
            // position: relative;
            // border: 1px solid black;
            // border-radius: 3px;
            // top: 6px;
            // background-color: rgb(50, 130, 250);
            // .upLoad-curProgress {
            //     position: absolute;
            //     left: 0;
            //     width: 30%;
            //     height: 100%;
            //     background-color: palevioletred;
            // }
        }
    }
}