.readingUpLoad {
    display: flex;
    height: 95%;
    h4{
        font-size:16px;
    }
    .opeIcons{
        position: fixed;
        right: 2%;
        top: 5px;
        .saveData{
            margin-right: 20px;
        }
    }
    .fileInfo {
        min-width: 300px;
        max-width: 50%;
        flex: 1 1 auto;
        border-right: 1px dashed rgba(10, 10, 10, 0.5)
    }
    .testPart {
        width: 300px;
        flex: 1 1 auto;
        position: relative;
        overflow: scroll;
    }
    .readingTest {
        position: relative;
        .icons {
            position: fixed;
            height: 30px;
            width:300px;
            top: 0;
            .testList {
                position: absolute;
                top: 3px;
                left: -5px;

                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                .testItem {
                    display: inline-block;
                    margin-left: 5px;
                    border: 1px solid gray;
                    padding: 3px 8px;
                    font-size: 13px;
                }
                .activeTest {
                    background-color: rgb(244, 177, 198);
                }
                .addNewTest {
                    border-width: 0;
                }
            }
        }

        .testContent {
            text-align: center;
            .testStem {
                h4 {
                    text-align: left;
                    margin-top: 5px;
                    margin-left: 16px;
                }
                .testStem-content {
                    width: 95%;
                    height: 150px;
                    border: 1px solid gray;
                    background-color: rgb(246, 231, 179);
                    border-radius: 5px;
                    font-size: 12px;
                    //outline: gray;
                }

            }
            .testChoice {
                position: relative;
                .plusIcon{
                    position: absolute;
                    top:0;
                    right: 38px;
                }
                h4 {
                    text-align: left;
                    margin-top: 5px;
                    margin-left: 16px;
                }
                .testChoice-analysis {
                    margin-left: 1%;
                    width: 46%;
                    height: 100px;
                    border: 1px solid gray;
                    border-radius: 5px;
                    background-color: rgb(225, 241, 216);
                }
                .testChoice-content {
                    width: 46%;
                    height: 100px;
                    border: 1px solid gray;
                    border-radius: 5px;
                    background-color: rgb(186, 219, 246);
                }
            }
            .correctAnswer{
                text-align: left;
                h4 {
                    text-align: left;
                    margin-top: 5px;
                    margin-left: 16px;
                    display: inline-block;
                    margin-right: 20px;
                }
            }

        }
    }
    .readingInfo {
        margin-top: 10px;
        padding-left: 5px;
        .basicInfo {
            position: relative;
            div{
                margin-bottom:8px;
            }
            h4 {
                padding: 0;
                margin-bottom: 5px;
            }
            label {
                display: inline-block;
                font-size: 13px;
                width: 70px;
            }
        }
    }
    .otherInfo {
        position: relative;
        margin-top:15px;
        .plusIcon {
            position: absolute;
            top: 0;
            right: 48px;
        }
        li{
            margin-bottom: 8px;
        }
        h4 {
            padding: 0;
            margin-bottom: 5px;
        }
        label {
            display: inline-block;
            font-size: 13px;
            width: 70px;
            // line-height: 20px;
            // position: relative;
            // top:2px;
        }
    }

}