.studiedRecord {
  margin-top: 0.3rem;
  background-color: #fff;
  .studiedRecord-title {
    padding: 0.2rem 0 0 0.5rem;
  }
  .studiedList {
    .studiedRecord-item {
      font-size: 0.8rem;
      padding: 0.4rem 0 0.4rem 0.8rem;
      position: relative;
      .videoName {
        width: 75%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        white-space: nowrap;
        color: #292F33;
      }
      .date {
        position: absolute;
        right: 0.5rem;
        color: rgba(120, 120, 120, 0.8);
      }
    }
    .loadMore, .loading {
      text-align: center;
      font-size: 0.7rem;
      padding-bottom: 0.5rem;
      color: cornflowerblue;
    }
  }
}