
.fileManage {
    margin-top: 0;
    // padding-left: 60px;
    .manageTool {
        position: relative;
        height: 50px;
        .select {
            position: absolute;
            left: 10px;
            top: 5px;
            .upDate {
                //display: inline-block;
                margin-left: 20px;
            }
        }
        .reactSelect {
            position: absolute;
            top: 5px;
            right: 10px;
            width: 30%;
        }
    }
    .table {
        //margin-top:50px;
    }
}