* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
}

.playground {
    display: flex;

    &:after {
        content: "";
        display: table;
        clear: both;
    }

    .playgroundCode, .playgroundPreview {
        border: 1px solid rgba(16, 16, 16, 0.1);
    }

    .playgroundPreview {
        margin: 10px;
        border: 1px solid black;
        //background-color: white;
        //border-radius: 3px;
        width: 320px;
        height: 568px;
    }

    .playgroundCode {
        border-radius: 0 3px 3px 3px;
        overflow: auto;
        flex: 1;
        font-size: 0.8rem;
        max-height: 100vh;
        padding: 0;
    }

    .playgroundLess {
        font-size: 0.8rem;
        width: 300px;
    }

    .playgroundError {
        color: #c5695c;
        font-size: 15px;
        padding: 15px 20px;
        background-color: black;
    }
}

//.playground-tab {
//    border-bottom: none !important;
//    border-radius: 3px 3px 0 0;
//    padding: 6px 8px;
//    font-size: 12px;
//    font-weight: bold;
//    color: #c2c0bc;
//    background-color: #f1ede4;
//    display: inline-block;
//    cursor: pointer;
//}

//.playground-tab-active {
//    color: #222;
//}

//.playgroundPreview {
//    ul {
//        margin: 0;
//        list-style: none;
//        border: 1px solid rgba(16, 16, 16, 0.1);
//        border-radius: 3px;
//    }
//}

//
//.playgroundPreview ul:empty {
//    border-width: 0;
//}
//
//.playgroundPreview li {
//    border-top: 1px solid #f2f2f2;
//}
//
//.playgroundPreview li:first-child {
//    border-top: none;
//}
//
//.playgroundPreview li a {
//    margin: 0;
//    padding: .25rem .625rem;
//    font-size: .75rem;
//    font-weight: 400;
//    display: block;
//    width: 100%;
//}
//
//.playgroundPreview li a:after {
//    display: none;
//}
//
//.playgroundPreview input {
//    margin-bottom: .75rem;
//    /*height: 2rem;*/
//    padding: .5rem .625rem;
//    border: 1px solid rgba(16, 16, 16, 0.1);
//    border-radius: 3px;
//    width: 100%;
//    font-size: .875rem;
//    font-weight: 400;
//}
