
body {
    padding: 0;
    margin: 0;
    font-family: Dengxian, "Helvetica Neue", Helvetica, STHeiTi, sans-serif, "Nimbus Sans L", Arial, "Liberation Sans", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp";
}

html, body, #root, #app {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
    background-color: #EFEFF4;
}

a {
    text-decoration: none;
}

a, img {
    &, &:focus, &:active {
        -webkit-touch-callout: none; /* 禁止长按链接与图片弹出菜单 */
        -webkit-user-select: none;
    }
}

//
a, button {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

#app {
    display: flex;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}

#app > .weui_msg {
    margin: auto;
}


.hidden {
    display: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.content{
    margin-left: 50px;
}

h4 {
    padding: 0;
    margin-bottom: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.icon{
    cursor: pointer;
}

.prefix-title {
    display: inline-block;
    font-size: 13px;
    width: 70px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

input {
    margin-right: 5px;
    width: 100px;
    line-height: 20px;
    font-size: 13px;
    outline: medium;
    border: 0;
    border-bottom: 1px solid rgba(10, 10, 10, .3);
    &:focus {
        border-bottom: 1px solid rgb(10, 170, 200);
    }
}

span{
    -webkit-user-select: none;
}

.scrollable {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%;
}