.transQue {
  padding: 10px;
  font-size: 16px;
  /* font-size: 18px; */
  line-height: 1.5;
  letter-spacing: -.004em;
  font-weight: 400;
  font-style: normal;
  color: rgba(11, 11, 11, .8);
  text-align: justify;
  .transContent {
    margin: 5px 0;
  }
  .transResult {
    border-top: 1px dashed rgba(120, 120, 120, 0.8);
    margin-top: 1rem;
    padding-top: 0.5rem;
  }
  .showResultBtn {
    text-align: right;
  }
}