.wordUpLoad {
  display: flex;
  height: 90%;
  .testList {
    position: absolute;
    top: 3px;
    left: 51%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    .testItem {
      display: inline-block;
      margin-left: 5px;
      border: 1px solid gray;
      cursor: pointer;
      padding: 3px 8px;
      font-size: 13px;
    }
    .activeTest {
      background-color: rgb(244, 177, 198);
    }
    .addNewTest {
      border-width: 0;
    }
  }
  .opeIcons {
    position: fixed;
    right: 2%;
    top: 5px;
    .saveData,
    .addTest {
      margin-right: 20px;
    }
  }
  h4 {
    font-size: 16px;
  }
  .fileInfoPart {
    min-width: 300px;
    max-width: 50%;
    flex: 1 1 auto;
    border-right: 1px dashed rgba(10, 10, 10, 0.5)
  }
  .testPart {
    width: 300px;
    flex: 1 1 auto;
  }
  .wordInfo {
    margin-top: 15px;
    padding-left: 5px;
    .basicInfo {
      position: relative;
      .videoName {
        input {
          width: 55%;
          font-size: 13px;
          line-height:20px;
        }
      }
      .labels {
        .label {
          height: 28px;
          font-size: 13px;
          margin-right: 5px;
        }
        .labelList {
          position: relative;
          top: -26px;
          margin-left: 70px;
          .addLable {
            height: 29px;
            line-height: 29px;
          }
        }
      }
      .addLable {
        display: inline-block;
      }
      div {
        margin-bottom: 8px;
      }
    }
  }
  .testInfo {
    position: relative;
    margin-top: 15px;
    .plusIcon {
      position: absolute;
      top: 0;
      right: 48px;
    }
    .paraphrase-example {
      color: rgba(42, 42, 42, 0.6);
      input {
        font-size: 13px;
      }
    }
    li {
      margin-bottom: 8px;
      input{
        font-size: 13px;
      }
    }
    .paraphrase-content {
      width: 60%;
      font-size: 13px;
    }
  }
  .otherInfo {
    margin-top: 15px;
    position: relative;
    .otherInfo-content {
      width: 95%;
    }
  }
  .wordTestPart {
    h4 {
      margin: 0;
      padding: 0;
    }
    input {
      font-size: 13px;
      // color: rgba(42, 42, 42, 0.6);
    }
    ::-webkit-input-placeholder {
      color: rgba(42, 42, 42, 0.6);
    }
    .wordTestQue {
      .test-prefix {
        font-weight: bold;
        font-size: 16px;
        display: inline-block;
        width: 50px;
        margin-top: 15px;
        margin-bottom: 5px;
        margin-left: 5px;
      }
      .testStem {
        .testStem-content,
        .testStem-title {
          width: 95%;
          //    text-align: center;
          margin: 0 auto;
        }
      }
      .testOptions {
        position: relative;
        .test-prefix {
          width: 100px;
        }
        .plusIcon {
          position: absolute;
          top: 10px;
          right: 48px;
        }
        .testOpt {
          textarea {
            height: 100%;
            width: 100%;
            border-radius: 5px;
            font-size: 13px;
            color: #666;
            &:focus {
              border: 1px solid rgba(16, 177, 239, 0.7);
              outline-width: 0;
            }
          }
          margin: 0 auto;
          width: 96%;
          .testOpt-content {
            display: inline-block;
            width: 48%;
            height: 130px;
          }
          .testOpt-explain {
            display: inline-block;
            height: 130px;
            width: 48%;
          }
        }
      }
      .testRemark {
        .testRemark-contnet {
          width: 95%;
          margin: 0 auto;
        }
      }
    }
    .transQue {
      .testWord {
        margin: 0.5rem 0;
      }
      .transContent {
        margin-bottom: 0.3rem;
      }
    }

  }
}