.wordQues{
  .wordQue ,.transQue{
    padding: 10px;
    font-size: 16px;
    /* font-size: 18px; */
    line-height: 1.5;
    letter-spacing: -.004em;
    font-weight: 400;
    font-style: normal;
    color: rgba(11,11,11,.8);
    text-align: justify;

    .transContent{
      margin: 5px 0;
    }

    .transResult {
      border-top: 1px dashed rgba(120,120,120,0.8);
      margin-top: 1rem;
      padding-top: 0.5rem;
    }

    .showResultBtn{
      text-align: right;
    }

    .wordQueStem {
      margin: 5px 0;
      .testWord{
        font-weight: bold;
      }
    }
    .wordQueTitle {
      margin: 10px 0;
    }
    .wordQueOpt {
      position: relative;
      padding: 8px 0;
      .optExplain {
        margin-left: 25px;
      }

      .optRight {
        color: #55b837;
      }

      .answerRight {
        position: absolute;
        right: 15px;
        top: -5px;
        font-size: 25px;
        color: rgba(85,184,55,1);
      }
      &:active{
        background-color: rgba(218, 220, 226, 0.73);
      }
    }

    .answerWrong {
      color: rgba(135,135,135,0.7);
    }
  }
  .testOver {
    text-align: right;
    margin-right: 10px;
    padding-bottom: 10px;
  }
}