.choiceQue {
  padding: 10px;
  font-size: 16px;
  /* font-size: 18px; */
  line-height: 1.5;
  letter-spacing: -.004em;
  font-weight: 400;
  font-style: normal;
  color: rgba(11, 11, 11, .8);
  text-align: justify;
  .wordQueOpt {
    padding: 0.3rem 0;
  }
  .choiceQue-stem {
    margin: 5px 0;
    .testWord {
      font-weight: bold;
    }
  }
  .choiceQue-title {
    margin: 10px 0;
  }
  .choiceQue-opt {
    position: relative;
    padding: 8px 0;
    .optExplain {
      margin-left: 25px;
    }
    .optRight {
      color: #55b837;
    }
    &:active {
      background-color: rgba(218, 220, 226, 0.73);
    }
  }
  .answerRight {
    position: absolute;
    right: 15px;
    top: -5px;
    font-size: 25px;
    color: rgba(85, 184, 55, 1);
  }
  .answerWrong {
    color: rgba(135, 135, 135, 0.7);
  }
}
