html {
    font-size : 20px;
}
@media only screen and (min-width: 401px){
    html {
        font-size: 25px !important;
    }
}
@media only screen and (min-width: 428px){
    html {
        font-size: 26.75px !important;
    }
}
@media only screen and (min-width: 481px){
    html {
        font-size: 30px !important;
    }
}
@media only screen and (min-width: 569px){
    html {
        font-size: 35px !important;
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 40px !important;
    }
}

$color-main: #bd10e0;
$color-word-progress-default: #D8D8D8;
$color-word-progress: #E8CEFF;
$color-today-progress-bg: #D8D8D8;
$color-today-progress: #297c9e #73c1b3 #f06060 #8a572e #000;
$color-next-word-bg: #E8CEFF #EBEBEB;
$color-default-font: #000;