.cards {
  margin-bottom: 3rem;
  height: 100%;
  .cardsList {
    height: 100%;
  }
.loadMore{
  margin-top: -1rem;
}
  .card {
    background-color: rgb(255, 255, 255);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    .card-title {
      font-size: 0.9rem;
      font-weight: 500;
      margin-bottom: 0.8rem;
    }

    .keyWord{
      font-weight: bold;
      color: rgba(10,10,10,0.99);
    }

    .other-cards {
      .card-video {
        position: relative;
        margin: 0px -15px;
        .videoSkip-btn {
          display: inline-block;
          position: absolute;
          bottom: 0;
          right: 1rem;
          font-size: 2rem;
          color: rgba(100, 100, 100, 0.9);
        }
      }
    }
  }
}