.readingTests {
  font-size: 0.7rem;
  line-height: 1.5;
  letter-spacing: -.004em;
  padding: 0 0.5rem 0.5rem;
  text-align: justify;

  .readingQuestion {
    position: relative;
    .question {

    }
    .readArticle {
      position: absolute;
      bottom: -0.3rem;
      right: 0.3rem;
    }

  }

  .readingArticle {
    .article {
      text-indent: 1rem;
    }
    .articleSource {
      font-style: italic;
    }
    .doQuestion {
      position: relative;
      text-align: right;
      margin-top: 0.2rem;
      padding: 0;
    }
  }

  .readingAnswer {
    margin-bottom: 0.3rem;
    .analysis {
      padding-left: 1.8rem;
    }
  }

  .nextTest {
    position: relative;
    text-align: right;
    margin-top: 0.2rem;
    padding: 0;
  }

  .hidden {
    display: none;
  }

  .emphasesText {
    padding: 0.2rem 0;
    margin: 0;
    font-size: 110%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
  }
}