@import "../../../public/css/variable";

.wordsReview {
    .wordsReviewStage1 {

        .wordsReview-title{
            font-size: 0.85rem;
            padding: 5px 0;
            margin: 0;
        }

        .reviewWord {
            padding: 0.3rem 0.2rem;
            position: relative;
            font-size: 16px;
            text-align: justify;
        }
        .wait-time {
            width: 100%;
            font-size: 0.9rem;
            margin-top: 1rem;
            line-height: 1rem;
            vertical-align: middle;
            text-align: center;
            color:#9e9e9e
        }
    }

    .WordsReviewStage2 {
        width: 100%;
        overflow-x:hidden;
        //border-color: #bd10e0;
        //border-style: solid;
        //border-width: 1px 1px 1px 9px;
        //box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

        .wordsReview-title{
            font-size: 0.85rem;
            padding: 5px 0;
            margin: 0;
        }

        .reviewWordItem {
            width: 100%;
            min-height: 100%;
            position: relative;
        }

        .word-item {
            font-size: 0.8rem;
            width: 100%;
            padding: 0.4rem;

            .til {
                width: 100%;
                padding-left: 26px;
                line-height: 24px;
                background: url('../../../public/img/icon-star-word.png') no-repeat;
                background-size: 20px 20px;
                background-position: left;
            }
            .til.star {
                background: url('../../../public/img/icon-star-word-full.png') no-repeat;
                background-size: 20px 20px;
                background-position: left;
            }
            .answer {
                width: 90%;
                /* padding-left: 26px; */
                line-height: 24px;
                padding-top: 4px;
                position: relative;
                margin: 0 auto;

                .answer-mask {
                    width: 100%;
                    //height: 100%;
                    z-index: 99;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: url('../../../public/img/icon-mask-bg.png') repeat;
                    color: #000;
                    font-size: 19px;
                    text-align: center;
                }
            }
            .shake {
                animation-name: shake;
                animation-duration: .1s;
                animation-timing-function: ease;
                animation-delay: 0s;
                animation-iteration-count: 5;
            }
        }

        .ok-btn {
            text-align: right;
            margin: 0;
            padding: 0;
        }

    }

    @keyframes shake {
        from {
            transform: translate(3px, 4px);
        }
        to {
            transform: translate(0px, 0px);
        }
    }
}