.dashBoard {
  .rankList {
    font-size:14px;
    .rankItem {
      margin-left: 1rem;
    }
    .headImg {
      display: inline-block;
      margin: 0.5rem;
      img{
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
      }
    }
  }
}