.upload{
    height: 100%;
    .nav{
        background-color: #EDEDED;
        height:30px;
        list-style: none;
        .navItem{
            display: inline-block;
            margin-right: 20px;
            margin-left: 10px;
            line-height: 30px;
            height:100%;
        }
    }
}