.sideBar{
    position: fixed;
    height: 100%;
    width: 50px;
    text-align: center;
    color: #fff;
    background-color: #2a3f54;
    .routes{
        list-style-type: none;
        font-size: 30px;
        position: relative;
        top: 30px;
        .route{
            margin-top: 10px;
            cursor:pointer;
        }
    }

}